body {
    font-size: 35px;
    font-family: sans-serif;
}
body img {
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
.bg-blue {
    color: white;
    background-color: #195774;
    font-size: 20px;
    font-weight: 300; 
}

.pappy-love {
    padding: 25px ;
    justify-items: center; 
}
.banner {
    margin-bottom: 50px;
}
.containers {
    display: flex;
    justify-content: center;
    width: 960px;
    margin: 0 auto;
}
.three-puppy img, 
.missing-puppy {
    width: 285px;
    height: 285px;
    
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.missing-puppy {
    background-color: #f2546a;
    color: #383a3c;
    align-items: center;
    font-size: 44px;
    text-align: center;  
}
.missing {
    margin: 0 40px;
}
.more-puppy {
    text-align: center;
    margin: 40px 0px;
    font-size: 26px;
}
.puppy45 {
    margin-bottom: 40px;
}
.puppy3 {
    margin-right: 25px;
}
.puppy4 {
    margin-left: 25px;
}
.dev {
    padding: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}